<!-- Filename - index.html-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="flex">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-1/433442420_1434722667480868_7985550642012325363_n.jpg?stp=dst-jpg_s480x480&_nc_cat=105&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=EWrqLr0PN2QQ7kNvgE8jl61&_nc_ht=scontent.fhyd11-2.fna&oh=00_AYChgpErTHprTjrUT2TYejuw9o-Nw1cbOF-IwKdZi0gsXw&oe=66BD4FA7" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Elder brother</h5>
    <p class="card-text">Iam studying final year of engineering</p>
    <a href="https://en-gb.facebook.com/yashwanth.rebal.50" class="btn btn-primary">my facebook profile</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://scontent.fhyd11-1.fna.fbcdn.net/v/t39.30808-1/444946886_1517391819124138_931113851887475492_n.jpg?stp=dst-jpg_s480x480&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=n3OdM1qMVxYQ7kNvgF7_QzK&_nc_ht=scontent.fhyd11-1.fna&oh=00_AYDFGOYG3qclLxEpoqsDq5zG8tUfxPp2cpkNzf28Ut3vhA&oe=66BD286F" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">younger brother</h5>
    <p class="card-text">Iam studying first year of engineering</p>
    <a href="https://en-gb.facebook.com/yashwanth.rebal.50" class="btn btn-primary">my facebook profile</a>
  </div>
</div>
</div>
</body>

</html>